<%= form_with(model: membership, local: true) do |form| %>
  <% if membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group">
      <%= form.label :beer_club_id, "Choose your club:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
           <%= form.collection_select :beer_club_id, @clubs, :id, :name, class: "form-control" %>
        </div>
      </div>
    <div class="col-md-8">
      <%= form.submit class: "btn btn-default btn-success btn-sm" %>  
    </div>
  </div>

  <br>

<% end %>
