<h2> <%= @beer_club.name %> (<%= @beer_club.city %>) </h2>

<p>Founded <%= @beer_club.founded %>
</p>

<p>
  <strong>Members</strong>

<% if  @beer_club.members.count > 0 %>
  <ul>
    <% @beer_club.members.each do |member| %>
      <li>
        <%= link_to member.username, member %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <i>This club has now members yet</i>
  </p> 
<% end %>
</p>

<% if current_user %>

    <% if not @beer_club.members.any? {|m| m.id == current_user.id} %>
      <%= form_for(@membership) do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value:"join the club" %>
      <% end %> 
    <% else %>
      <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
      <% end %>
    <% end %>

  <p>
      <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> 
    <br>
      <%= link_to('Delete', @beer_club, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) %>
  </p>

<% end %>
