<h1>Users</h1>

<p> Ratebeer has <%= pluralize(@users.count, 'user') %>: </p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Member since</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.created_at.year %></td>
        <td><%= link_to 'Show user profile', user %></td>
        <td>
          <% if current_user_is_admin && user.closed %>
            <span class="badge badge-info">account closed</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New User', signup_path, class:'btn btn-primary') %>
