<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if  @user.ratings.count > 0 %>
  <p>Has made <%= pluralize(@user.ratings.count, 'rating') %> , average rating <%= @user.average_rating.round(1) %></p>
  <p><strong>ratings</strong></p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li> 
        <%= rating.beer %>: <%= rating.score %>  
        <% if @user == current_user %> 
          <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul> 
<% else %>
  <p> Has not yet given any ratings. </p>
<% end %>

<% if @user == current_user %> 
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
