<h1>Ratings</h1>
<% if @ratings.empty? %>
  <i>No ratings given yet</i>
<% else %>
  <% if @ratings.count >= 5 %>
    <h2>Last 5 ratings:</h2>
    <%= render 'list_ratings', ratings: @ratings.recent %>
  <% end %>
<br>
  <h2> Top 3 breweries: </h2>
  <%= render 'list_breweries', breweries: @top_breweries %>
<br>
  <h2>Top 3 beers:</h2>
  <%= render 'list_beers', beers: @top_beers %>
<br>
  <h2> Our users have given total of <%= pluralize(@ratings.count, 'rating') %>: </h2>
  <%= render 'list_ratings', ratings: @ratings %>

<% end %>

<%= link_to('New rating', new_rating_path, class:'btn btn-primary') if current_user %>
