<%= form_with(model: brewery, local: true) do |form| %>
  <% if brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>

      <ul>
      <% brewery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name:", class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= form.text_field :name, class: "form-control" %>
      </div>
  </div>

  <div class="form-group">
      <%= form.label :year, "Year:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
           <%= form.number_field :year, class: "form-control" %>
        </div>
  </div>

  <div class="form-group">
    <div class="checkbox col-md-8">
      <label> <%= form.check_box :active, :as => :boolean, :label => false, :inline_label => true %> Active</label>
    </div>
  </div>

  <div>
    <%= form.submit class: "btn btn-default btn-primary" %>  
  </div>

<% end %>
