<h1>Breweries</h1>

<br>

<% cache 'brewerylist', skip_digest: true do %>

  <h3>Active</h3>

  <p> Number of active breweries: 
    <span class="badge badge-primary badge-pill"> <%= @active_breweries.count %>  </span>
  </p>

  <%= render 'list', breweries: @active_breweries %>

  <br>

  <h3>Retired</h3>

  <p> Number of retired breweries:
    <span class="badge badge-secondary badge-pill"> <%= @retired_breweries.count %> </span>
  </p>

  <%= render 'list', breweries: @retired_breweries %>

 <% end %>

<%= link_to 'New Brewery', new_brewery_path, class:"btn btn-primary"  %>
