<%= form_with(model: beer, local: true) do |form| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form-group">
      <%= form.label :name, "Name:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= form.text_field :name, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= form.label :style_id, "Style:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
           <%= form.collection_select :style_id, @styles, :id, :name, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= form.label :brewery_id, "Brewery:", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%=  form.collection_select :brewery_id, @breweries, :id, :name, class: "form-control" %>
        </div>
    </div>

    <%= form.submit "Create beer", class: "btn btn-default btn-primary" %>  


<% end %>