<% cache @beer do %> 

  <h2>
    <%= @beer.name %>
  </h2>

  <p>
    <strong>Style:</strong>
    <%= link_to @beer.style.name, @beer.style %>
  </p>


  <p>
    <strong>Brewery:</strong>
    <%= link_to @beer.brewery.name, @beer.brewery %>
  </p>

  <p>
    <% if @beer.ratings.empty? %>
      This beer has not yet been rated!
    <% else %>
      Has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating.round(1) %>
    <% end %>
  </p>

<% end %>

<% if current_user %>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    <p> 
      <strong> Score (1-50): </strong>  <%= f.number_field :score %>
      <%= f.submit class:"btn btn-success btn-sm", value:"Give a rating" %>
   </p>
  <% end %>

<br>

 <%= edit_and_destroy_buttons(@beer) %>
<% end %>