<h1><%= @place.name %></h1>
<p> 
    <strong> A <%= @place.status %> in <%= @place.city %>, <%= @place.country %>. </strong>
</p>
<p>Overall: <%= @place.overall %> </p>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Visiting address</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
            <%= @place.street %>
            <br>
            <%= @place.zip %> <%= @place.city %> 
        </td>
      </tr>
  </tbody>
</table>
